
.ex-1-square:hover{
  background-color: red;
}


/* ESERCIZIO 2 */


.ex-2-square:active{
  width: 500px;
  transition: width 2s;
}



/* ESERCIZIO 3 */

.ex-3-square:hover{
  border-radius: 50%;
  transition: 2s;
}


/* ESERCIZIO 4 */

.ex-4-square:hover{
  opacity: 0;
  transition: 2s;
}


/* ESERCIZIO 5 */

.ex-5-square:hover{
  width: 100px;
  height: 100px;
}

.ex-5-square:active{
  width: 20px;
  height: 20px;
}

/* ESERCIZIO 6 */

.ex-6-img:hover{
  filter: grayscale(10);
}

/* ESERCIZIO 7 */

.ex-7-img:hover{
  filter: blur(10px) grayscale(10);
  transition: 3s;
}

/* ESERCIZIO 8 */

.ex-8-img:hover{
  filter: opacity(50%) grayscale(10);
  border-radius: 20px;
  transition: 2s;
}

/* ESERCIZIO 9 */

.ex-9-img:hover{
  filter: blur(5px) sepia(90%);
  border-radius: 40px;
  transform: scale(2.5);
  transition: 4s;
}

/* ESERCIZIO 10 */

/* seleziono l'immagine con hover, poi attribuisco l'animazione 
di 2 secondi, con moto lineare perpetuo. */
.ex-10-icon:hover{
  animation: rotation 2s infinite linear;
}

/* uso @keyframes rotation, facendolo partire da 0 gradi fino a 359 gradi
in modo tale da farlo roteare lentamente dal punto A a quello B */

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover{
  animation: rotation 2s infinite linear;
}

/* in pratica qui divido il tempo in cui roteare, in percentuale,
dando nel 0-75 % l'azione di rotazione fino a 270 gradi,
e poi dal 75-100% l'azione di roteare da 270 gradi a 0 gradi,
chiaramente lo fara' in minor tempo grazie alla percentuale 
minore di quest'ultima parte */

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(0deg);
  }
 
}



/* ESERCIZIO 12 */


.ex-12-button:hover .ex-12-bottom-white{
  animation: moving 2s infinite linear;
}

@keyframes moving {
  0%{
    transform: translateX(0px);
  }

  100%{
    transform: translateX(60px);
  }

  
}


/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s linear;
}
@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}